body{
    background-image: url('../images/bu2.jpg');
    filter: alpha(opacity=50);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*styles for the new BU header*/
#header{
    background-image: url("/resources/bu_images/header-bg-fabric-shading-repeat.jpg");
    background-color: #4F3674;
    height: 155px;
    border-bottom: none;
}
.login-header{
    background-image: url("/resources/bu_images/header-bu-seal-keystone.png");
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;  
}
.invalid{
    color: red;
    margin-bottom: -15px;
}